<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RustBucket</title>
      <link rel="stylesheet" href="{{url_for('static',filename= 'NEW.css')}}">
    <link href="{{url_for('static',filename= 'assets/font-awesome-4.7.0')}}">
</head>
<body>
<div class="ful-page">
        <div class="navbar">
            <div>
                <a href=''>RUSTBUCKET</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href="/signN">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/Cnt">Contact</a></li>
                    <li><a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart</a></li>
                </ul>
            </nav>
        </div>
<!-- SHOP -->
    <div class="container-sp">
        <div class="box-sp">
            <span></span>
            <div class="content-sp">
            <h2>CAR</h2>
            <p>Click to see the products</p>
            <a href="/car">SHOP</a>
            </div>
        </div>
        <div class="box-sp">
            <span></span>
            <div class="content-sp">
            <h2>BIKE</h2>
            <p>Click to see the products</p>
            <a href="/bike">SHOP</a>
        </div>
    </div>
  <!-- SHOP -->
</div>
</body>
</html>